@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.gradient-background {
    background: linear-gradient(300deg,#88b7d3,#87b6bf,#a488d3,#d388b7);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

.header-props {
  position: fixed;
  height: 40px;
  padding-top: 6px;
  width: 100%;
  font-weight: bold;
  z-index: 1;
  transition: 0.5s;
}

.pulse {
	animation: pulse 0.9s infinite;
}

@keyframes pulse {
  0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

nav a:hover {
  text-decoration: underline;
}
  
.active {
  text-decoration: underline;
}

.hover-rotate:hover {
  transform: rotateY(180deg);
  transition: transform 500ms ease-in-out;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

