@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

.gradient-background {
    background: linear-gradient(300deg,#88b7d3,#87b6bf,#a488d3,#d388b7);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

.nav-style {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
  
.active {
  text-decoration: underline;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

