@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.gradient-background {
    background: linear-gradient(300deg,#88b7d3,#87b6bf,#a488d3,#d388b7);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

.header-props {
  height: 30px;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  font-weight: bold;
  z-index: 1;
}

.navbar-props {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1248px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

nav a:hover {
  text-decoration: underline;
}
  
.active {
  text-decoration: underline;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

