@font-face {
    font-family: "Paris";
    src: url("../src/assets/fonts/Hello\ Paris\ Sans\ Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
    background-color: #D7C6AB;
    cursor: url("../src/assets/images/cursor.svg"), auto!important;
}

a, button {
  cursor: url("../src/assets/images/pointer.svg"), pointer!important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #E9D4C1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5C5B40;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5C5B40;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: ""!important;
}

.swiper-button-disabled {
    opacity: 0.5;
}

.swiper-slide {
  overflow: visible !important;
}