@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.gradient-background {
    background: linear-gradient(300deg,#88b7d3,#87b6bf,#a488d3,#d388b7);
    background-size: 240% 240%;
    animation: gradient-animation 20s ease infinite;
}

.header-props {
  position: fixed;
  height: 40px;
  padding-top: 6px;
  width: 100%;
  font-weight: bold;
  z-index: 1;
  transition: 0.5s;
}

.pulse {
	animation: pulse 0.9s infinite;
}

@keyframes pulse {
  0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

nav a:hover {
  text-decoration: underline;
}
  
.active {
  text-decoration: underline;
}

.avatar-float {
  animation: float 2s ease-in-out infinite;
}

.projects-info {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.projects-card:hover .projects-info {
  opacity: 1;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes float{
	0%, 100% {
		transform:translatey(0)
	}
	50% {
		transform:translatey(-10px)
	}
}

